:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    height: 100vh;
}
section {
    max-width: 540px;
    margin: auto;
}
section img {
    margin: 64px 0 32px;
    width: 350px;
    height: 238px;
}
section h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    margin: 0 0 16px;
    color:#3F3D56;
    font-weight: 400;
}
section h1 span {
    font-weight: 700;
    color: #EE24FF;   
}
section p {
    font-family: 'Open Sans', sans-serif;
    color: #828282;
    font-size: 15px;
}
section p span {
    font-weight: 700;
    color: #3F3D56;
}
section p + p {
    margin: 32px 0 64px;
}
.line {
    width: 391px;
    height: 0px;
    border: 1px solid #ECEFF2;
    margin: 0 auto 16px;

}
footer a {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;

}
footer a + a {
    margin-left: 38px;
} 
#wave {
    position: fixed;
    bottom: 0;
    left: 0;
   width: 100%;
}